<!DOCTYPE html>
<head>
    <title>GOODMUSIC</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
  .form-control:focus {
    box-shadow: none;
}
  
.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
}
  
body {
    background: #ffd89b;
    background: -webkit-linear-gradient(to right, #ffd89b, #19547b);
    background: linear-gradient(to right, #ffd89b, #19547b);
    min-height: 70vh;
}
  
.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}
</style>
</head>

<body>
  <div class="container" style="margin-top: 105px;">
    <div class="row py-5">
      <div class="col-lg-9 mx-auto text-white text-center">
        <h1 class="display-4">Good Music Starts Here</h1>
        <p class="lead mb-0">SUTD IR 2021 Project</p>
        <p class="lead">Created by <a href="https://github.com/zennpng/IR2021" class="text-white">
                  <u>The Real ESD Kids</u></a>
        </p>
      </div>
    </div> 
  
    <div class="row mb-5">
      <div class="col-lg-8 mx-auto">
        <h5 class="font-weight-light mb-4 font-italic text-white">Tell us how you are feeling or what music qualities you would like and we will do the rest</h5>
  
          <form action="{{ url_for('recommendations') }}" method="post">
            <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
              <div class="input-group">
                <input type="search" name="query" placeholder="What's on your mind?" aria-describedby="button-addon1" class="form-control border-0 bg-light">
                <div>
                <input type="search" name="number" placeholder="No. of recommendations?" aria-describedby="button-addon1" class="form-control border-0 bg-light">
                </div>
                <div class="input-group-prepend">
                    <button id="submit-button" type="submit"><img src="{{url_for('static', filename='search.png')}}" width="25px" height="25px"></button>
                </div>
              </div>
            </div>
          </form>

      </div>
    </div>    
  </div>
</body>  